.navbar-gradient {
  background: linear-gradient(90deg, #4789EA 0%, #2D5DD5 70%, #253F83 100%);
}

.navbar-logo {
  height: 2.4rem;
}

@media (min-width: 768px) {
  .navbar-logo {
    height: 3rem;
  }
}

.navbar-link {
  transition: color 0.18s;
  color: #fff;
}

.navbar-link:hover {
  color: #1a2a51;
  text-decoration: underline;
}

